@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

*{ 
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    min-width: 580px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none;
}

.container{
    min-width: 400px;
}